body {
    background-image: url("../assets/colours.jpg");
    background-size: cover;
}

.main {
    display: flex;
    flex-direction: row;
    font-family: "Poppins";
    margin-top: 30px;
    margin-bottom: 100px;
    color: aliceblue;
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 2%;
    margin-right: 5%;
}

.content {
    display: flex;
    flex-direction: column;
    margin-right: 2%;
    margin-top: 6px;
}

.introduction img {
    margin-top: 10px;
    margin-bottom: 50px;
}

iframe {
    width: 300px;
    height: 175px;
}

#synopsis {
    margin-bottom: 10px;
}

#status, #episodes, #score, #studio {
    margin-top: 20px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .main {
        flex-direction: column; 
        align-items: center;
    }

    .introduction {
        margin-right: 10%; 
        margin-left: 10%; 
    }

    .content {
        margin-top: 10%;
        margin-right: 10%; 
        margin-left: 10%;
    }

    iframe {
        width: 100%; 
        height: auto;
    }

    .introduction img {
        margin-top: 20px;
    }

    #synopsis, #status, #episodes, #score, #studio {
        margin-top: 15px; 
        margin-bottom: 15px; 
    }
}
